@model IEnumerable<WsRest_UpWay.Models.EntityFramework.AjouterAccessoire>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantiteAccessoire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AjoutDAccessoire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AjoutDAccessoirePanier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuantiteAccessoire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AjoutDAccessoire.AccessoireId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AjoutDAccessoirePanier.PanierId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
